<section>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="max-w-6xl mx-auto px-4 sm:px-6 relative">
    <!--Hero content-->
    <div class="relative pt-32 pb-10 md:pt-40 md:pb-16">
      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
        <h1 class="text-4xl md:text-6xl font-extrabold leading-tight tracking-tighter m-2">
          <span class="text-[color:var(--darker-secondary-color)]">
            TankOnTap
          </span>

          <p class="mt-3 text-5xl text-gray-500">On Demand Fuel Delivery</p>
        </h1>
        <p class="text-2xl text-gray-500 mb-8">
          "Fuel delivery made hassle-free with our secure and user-friendly app, tracking, payment processing, and inventory management for worry-free experiences."
        </p>
        <div class="max-w-xs mx-auto sm:max-w-none sm:flex sm:justify-center">
          <div>
            <a
              class="cursor-pointer px-8 py-3 font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out text-white bg-[color:var(--darker-secondary-color)] hover:bg-[color:var(--secondary-color)] w-full mb-4 sm:w-auto sm:mb-0"
              (click)="toSignin()"
            >
              Signin
            </a>
          </div>
          <div>
            <a
              class="cursor-pointer px-8 py-3 font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out text-white bg-gray-700 hover:bg-gray-800 w-full sm:w-auto sm:ml-4"
              (click)="toSignup()"
            >
              Signup
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
