<div class="mb-[8vh]">
  <header
    class="bg-[color:var(--white-color)] fixed top-0 z-50 w-full shadow-md text-[color:var(--darker-secondary-color)]"
  >
    <div
      class="container mx-auto flex items-center flex-col lg:flex-row justify-between p-4"
    >
      <div class="flex items-center gap-x-3 cursor-pointer">
        <!-- ADD IMAGE HERE -->
        <h1 class="m-2 text-black font-bold text-4xl">
          <span class="text-[color:var(--darker-secondary-color)]" (click)="toDashboard()">
            TankOnTap
          </span>
        </h1>
      </div>
      <nav class="text-sm">
        <ul class="flex items-center">
          <li class="mr-4 cursor-pointer">
            <a
              routerLink="/cart"
            >Cart</a>
          </li>
          <li class="mr-4 cursor-pointer">
            <a
              routerLink="/orders"
            >Past Orders</a>
          </li>
          <!-- SETTING DROPDOWN -->
          <li class="mr-4 cursor-pointer relative">
            <button
              (click)="toggleDropdown()"
              class="flex items-center justify-center bg-[color:var(--darker-secondary-color)] hover:bg-[color:var(--darker-secondary-hover-color)] text-white text-sm font-medium rounded-md w-28 h-10 focus:outline-none"
            >
              <span class="mr-2">Setting</span>
              <fa-icon
                class="h-4 w-4"
                [icon]="showDropdown ? faAngleUp : faAngleDown"
              ></fa-icon>
            </button>
            <div
              *ngIf="showDropdown"
              class="mt-1 absolute min-w-[231px] right-0 bg-white rounded-md overflow-hidden shadow-lg z-10"
            >
              <div
                class="py-4 group hover:bg-[color:var(--darker-secondary-color)] transition-all ease-in-out"
              >
                <button
                  class="text-left w-full px-4 text-gray-800 group-hover:text-white transition-all ease-in-out"
                  (click)="toProfile()"
                >
                  Profile
                </button>
              </div>
              <div
                class="py-4 group hover:bg-[color:var(--darker-secondary-color)] transition-all ease-in-out"
              >
                <button
                  class="text-left w-full px-4 text-gray-800 group-hover:text-white transition-all ease-in-out"
                >
                  Logout
                </button>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
