<div class="m-6">
  <form [formGroup]="editAddressForm">
    <label class="block mt-2 mb-2 text-sm font-medium text-gray-900"
      >Type</label
    >
    <input
      type="text"
      formControlName="type"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    <label class="block mt-2 mb-2 text-sm font-medium text-gray-900"
      >Receiver</label
    >
    <input
      type="text"
      formControlName="receiver"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    <label class="block mt-2 mb-2 text-sm font-medium text-gray-900"
      >Location</label
    >
    <input
      type="text"
      formControlName="location"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    <label class="block mt-2 mb-2 text-sm font-medium text-gray-900"
      >City</label
    >
    <input
      type="text"
      formControlName="city"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    <label class="block mt-2 mb-2 text-sm font-medium text-gray-900"
      >Phone</label
    >
    <input
      type="text"
      formControlName="phone"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </form>
  <button
    (click)="onEditAddress()"
    class="flex gap-2 bg-[color:var(--darker-secondary-color)] text-white py-2 px-4 rounded hover:bg-[color:var(--secondary-color)]"
  >
    Update
  </button>
</div>
