<h4 class="p-4">Update Order Status for <span class="font-semibold">{{this.data.orderId}}</span>  </h4>
<div class="p-4">
  <form [formGroup]="updateStatusForm">
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 rounded blocked w-full"
      formControlName="status"
    >
      <option selected>Choose status</option>
      <option value="Confirmed">Confirmed</option>
      <option value="Payment-Received">Payment-Received</option>
      <option value="En-Route">En-Route</option>
      <option value="Delivered">Delivered</option>
    </select>
  </form>
</div>
<div class="p-4">
  <button
    (click)="onUpdateStatus()"
    class="flex gap-2 bg-[color:var(--darker-secondary-color)] text-white py-2 px-4 rounded hover:bg-[color:var(--secondary-color)]"
  >
    Update
  </button>
</div>

